[init]
	defaultBranch = master
[user]
	email = jakub.doka2@gmail.com
	name = Jakub Doka
	siningkey = 7EA4A8DC8153741B
	signingKey = C6E9A89936B8C143
[color]
	ui = auto
[core]
	editor = nvim
[commit]
	gpgsign = true
