[init]
	defaultBranch = master
[user]
	email = jakub.doka2@gmail.com
	name = Jakub Doka
	signingKey = C6E9A89936B8C143
[color]
	ui = auto
[core]
	editor = nvim
	hooksPath = /home/mlokis/.config/git/hooks/
[commit]
	gpgsign = true
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
